
<link rel="stylesheet" type="text/css" href="{{ "/assets/css/post.css" | prepend: site.baseurl }}">
<div  class="uk-width-1 uk-child-width-1 uk-margin-auto uk-grid-medium" style="max-width: 640px" uk-grid>

	<div class="uk-width-4-5">
		<div  class="uk-margin-small-left uk-margin-medium-top uk-text-large uk-text-uppercase">
			{{ page.title }}
		</div>

		<div class="uk-margin-small uk-margin-small-left uk-text-uppercase" >
			<div class="uk-article-meta uk-text-small uk-text-uppercase" uk-grid>
				<div class="uk-margin-small-right">
					<i class="fa fa-calendar" aria-hidden="true"></i>
				</div>
				{{ page.date | date: "%F"}}
				{% if page.tag %}
				<div class="uk-margin-left uk-margin-small-right uk-margin-top-remove">
					<i class="fa fa-tags" aria-hidden="true"></i>
				</div>
				{% for tag in page.tag %}
				{{ tag | strip_html }}
				{% endfor %}
				{% endif %}
				{% if page.location %}
				<div class="uk-margin-left uk-margin-small-right uk-margin-top-remove">
					<i class="fa fa-location-arrow" aria-hidden="true"></i>
				</div>
				{{ page.location }}
				{% endif %}
				{% if site.leancloud_visitors.enable %}
				<div class=" leancloud_visitors uk-margin-left  uk-margin-top-remove"  data-flag-title="{{ page.title }}">
					<div class="uk-margin-small-right">
						<i class="fa fa-eye"></i>

					</div>
					<div class="leancloud-visitors-count">0</div>

				</div>
				{% endif %}
			
			</div>
		</div>
	</div>
	
	<div class="uk-width-1-5">
		<div class="uk-width-auto uk-text-large uk-text-muted" style="font-size: 3em">
			{% if page.type == 'music' %}
			<i class="fa fa-music" aria-hidden="true"></i>
			{% elsif page.type == 'video' %}
			<i class="fa fa-film" aria-hidden="true"></i>
			{% elsif page.type == 'code' %}
			<i class="fa fa-code" aria-hidden="true"></i>
			{% elsif page.type == 'link' %}
			<i class="fa fa-link" aria-hidden="true"></i>
			{% endif %}
		</div>
	</div>
	<div class="uk-grid-match " >
		<article class="uk-card uk-card-default uk-card-body">
			{{ content }}
		</article>

		<div style="padding-top: 20px">
			{% include page_footer.html %}
		</div>
	</div>
</div>

{% include third/comments.html %}



